# Python 기초
## 사칙연산

In [1]:
# 덧셈

1 + 2

3

In [2]:
# 곱셈

2 * 3

6

In [3]:
# 뺄셈

5 - 2

3

In [10]:
# 실수 나눗셈

12 / 7

1.7142857142857142

In [11]:
# 정수 나눗셈의 나머지

12 % 7

5

In [32]:
# 정수 나눗셈의 몫

12 // 7

1

In [33]:
# 문자열 곱셈

'a' * 3

'aaa'

---

## 변수에 대입하여 계산하기
### 변수의 자료형은 데이터를 유추하여 자료형이 변경된다

In [13]:
# 변수에 정수를 할당하여 계산하기

var_1 = 2.5
var_2 = 5
var_1 + var_2

7.5

In [14]:
# 동일한 변수에 문자열 할당하여 출력하기

var_1 = 'python'
var_1

'python'

---

## 조건문

In [15]:
var_1 = 3

if var_1 > 1:
    print('var_1 is greater than 1')

var_1 is greater than 1

In [16]:
# () 써도 되지만 Python에서 () 잘 안씀

if (var_1 > 1):
    print('var_1 is greater than 1')

var_1 is greater than 1

In [19]:
var_1 = 4
var_2 = 3

if var_1 > var_2:
    print('var_1 is greater than var_2')

var_1 is greater than var_2

---

## 반복문

In [20]:
for i in [10, 20, 30]:
    print(i)

10
20
30

In [22]:
data = [10, 20, 30]
for i in data:
    print(i)

10
20
30

In [23]:
i = 0
while i < 30:
    i = i + 10
    print(i)

10
20
30

---

## 함수

In [34]:
def sumF(var01, var02):
    return var01 * var02

In [37]:
sumF(10, 20)

200

In [38]:
sumF('a', 3)

'aaa'

In [31]:
sumF(10.2, 9.9)

20.1