# --- 변수와 자료형 ---
## 변수
계산에 필요한 자료를 일시적으로 저장하거나 처리 결과를 담을 수 있는 기억 장소를 지정해주는 역할.   
변수 이름은 값을 지정하는 메모리 영역의 이름으로 할당.
## 변수 이름의 작성 규칙
- 첫 자는 영문으로 시작.
- 첫 자를 제외하고 숫자, under bar, dot을 사용할 수 있음.
- 대문자와 소문자를 구분.
- 변수 이름은 의미를 파악할 수 있는 이름으로 지정하는 것이 좋음.
- 두 단어를 포함한 변수 이름을 지정할 경우 두 번째 단어의 첫자는 대문자로 표시(Camel Method)하거나 under bar(Snack Method)로 표시하는 것이 가독성에 좋음.

---

## 숫자 자료형

In [4]:
# 정수형

var01 = 123
var02 = -17
var01 = 0

var01
var02

-17

In [5]:
# 정수형

var01 = 123
var02 = -17
var01 = 0

print(var01)
print(var02)

0
-17

In [6]:
# 실수형

var03 = 1.2
var03 = -12.34

var03

-12.34

In [12]:
# 연산자

var01 = 3
var02 = 4

print('덧셈 : ', var01 + var02)
print('뺄셈 : ', var01 - var02)
print('곱셈 : ', var01 * var02)
print('실수 나눗셈 : ', var01 / var02)
print('정수 나눗셈의 몫', var01 // var02)
print('정수 나눗셈의 나머지', var01 % var02)
print('제곱 : ', var01 ** 3)
print('제곱 : ', pow(var01, 3))

덧셈 :  7
뺄셈 :  -1
곱셈 :  12
실수 나눗셈 :  0.75
정수 나눗셈의 몫 0
정수 나눗셈의 나머지 3
제곱 :  27
제곱 :  27

---

## 파이썬 모듈을 이용한 수학 계산

In [13]:
# 수학 계산을 위한 모듈 불러오기
import math

In [14]:
# 거듭제곱 (기본적으로 실수 값 등장)
math.pow(var01, 2)

9.0

In [16]:
# 제곱근 (루트)
math.sqrt(var01)

1.7320508075688772

In [17]:
# sin(45)
math.sin(45)

0.8509035245341184

In [19]:
# sin(45)제곱 + cos(45)제곱
math.pow(math.sin(45), 2) + math.pow(math.cos(45), 2)

1.0

---

## 난수(정해지지 않은 수) 발생

In [20]:
# 난수 계산을 위한 모듈 불러오기
import random

In [22]:
# 1에서 100사이의 난수 하나 가져오기
random.randint(1, 100)

14

In [24]:
# 5개의 숫자 중 랜덤으로 3개 뽑아 그 3개의 숫자 랜덤으로 자리배치 정해주기
rlist = [1,2,3,4,5]
random.sample(rlist, 3)

[4, 1, 5]

In [25]:
# 1부터 100까지의 범위
alist = range(1, 101)
for i in alist:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [26]:
# 로또번호 생성하기
alist = range(1,46)
random.sample(alist, 6)

[33, 29, 10, 14, 7, 18]

---

## 변수

In [27]:
# 메모리에 있는 변수 보기
dir()

['In',
 'Out',
 '_',
 '_1',
 '_14',
 '_15',
 '_16',
 '_17',
 '_19',
 '_2',
 '_21',
 '_22',
 '_23',
 '_24',
 '_26',
 '_3',
 '_4',
 '_6',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'alist',
 'exit',
 'get_ipython',
 'i',
 'math',
 'quit',
 'random',
 'rlist',
 'var01',
 'var02',
 'var03']

In [33]:
var01

3

In [34]:
# 메모리에 있는 변수 지우기
del var01

---

## 관계 연산자

In [36]:
num1 = 100
num2 = 20

In [37]:
# 동등 비교 (대문자로 True, False 출력)
print(num1 == num2)
print(num1 != num2)

False
True

In [40]:
# 크기 비교
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)

True
False
True
False

In [43]:
# And, Or
print((num1 >= 50) & (num2 <= 10))
print((num1 >= 50) | (num2 <= 10))

False
True

In [45]:
# 부정 연산자(~가 아닌 사람 이럴 때 많이 사용)
print(not(num1 >= 50))
print(not(num1 <= 50))

False
True

---

## 문자열

In [47]:
# 쌍따옴표, 홑따옴표 둘 다 가능
var01 = "Hello World"
var01

'Hello World'

In [48]:
var02 = "Hello World"
var02

'Hello World'

In [54]:
# 여러 줄의 문자열 출력(쌍따옴표 세 개) - html 문서를 변수로 저장할 때 많이 사용
var01 = """Hello World!
Nice to meet you!"""
print(var01)

Hello World!
Nice to meet you!

In [58]:
# 쌍따옴표와 홑따옴표의 사용
# 출력하고자 하는 문장에 쌍따옴표가 있을 경우 - 홑따옴표로 감싸기 / 홑따옴표가 있을 경우 - 쌍따옴표로 감싸기
var01 = 'He says "I love you".'
var02 = "My mother's very kind."
print(var01)
print(var02)

He says "I love you".
My mother's very kind.

In [59]:
# 특수문자를 사용한 출력
var03 = 'aaa\nbbb'
var04 = 'aaa\tbbb'
print(var03)
print(var04)

aaa
bbb
aaa	bbb

In [60]:
# 문자열 연산(덧셈)
var01 = 'Python'
var02 = 'is fun.'
print(var01 + var02)
print(var01, var02)

Pythonis fun.
Python is fun.

In [64]:
# 문자열 연산(곱셈)
print(var01 * 3)
print("="*10 + var01 + "="*10)
print("="*10)
print(var01)
print("="*10)

PythonPythonPython
==========Python==========
==========
Python
==========

---

## 문자열 Indexing과 Slicing
( : 들어가면 Slicing 이라고 생각)

In [72]:
str = "abcdefghijklmn"

# 0번째 문자 출력
print(str[0])
# 0번째부터 2번째 문자 출력
print(str[0:3])
# 마지막 문자 출력
print(str[-1])
# 5번째 문자부터 끝까지 출력 (마지막 수 정하지 않으면 끝까지 출력)
print(str[5:])
# 처음부터 4번째 문자까지 출력 (처음 수 정하지 않으면 처음부터 출력)
print(str[:5])
# 5번째부터 마지막에서 2번째 문자까지 출력
print(str[5:-1])

a
abc
n
fghijklmn
abcde
fghijklm

In [75]:
str = "20211231"

# 2021-12-31
print(str[:4] + '-' + str[4:6] + '-' + str[6:])

2021-12-31

In [76]:
# 202C1231
print(str[:3] + 'C' + str[4:])

202C1231

---

## 문자열 관련 함수

In [82]:
# 문자 Count
str = "I have a dream."

# a의 개수
print(str.count('a'))
print(str.count('a dream'))
# 전체 글자의 개수 (띄어쓰기 포함)
print(len(str))

3
1
15

In [90]:
# 문자 위치 알려주기 (제일 처음 위치를 기준으로 알려줌)
print(str.find('eam'))
# -1 이면 그런 단어가 없다는 의미임
print(str.find('w'))

11
-1

In [91]:
# 문자열 삽입
str = ','
str.join('abcde')

'a,b,c,d,e'

In [92]:
# 소문자를 대문자로 변경
str = 'hi'
print(str.upper())
print('hi'.upper())

HI
HI

In [93]:
# 대문자를 소문자로 변경
str = 'HI'
print(str.lower())
print('HI'.lower())

hi
hi

In [94]:
# 왼쪽 공백 지우기
str = '       hi'
str.lstrip()

'hi'

In [95]:
# 오른쪽 공백 지우기
str = 'hi       '
str.rstrip()

'hi'

In [96]:
# 양쪽 공백 지우기
str = '    hi     '
str.strip()

'hi'

In [101]:
# 문자열 바꾸기
str = 'Life is happy'
str.replace('happy', 'unhappy')

'Life is unhappy'

In [108]:
# 문자열 나누기
list = str.split()
print(type(list))
print(list)
print(str.split()[0])

<class 'list'>
['Life', 'is', 'happy']
Life

In [107]:
str01 = '2021-12-31'
print(type(str01))
str01.split('-')[0] + list[0]

<class 'str'>
['2021-12-31']

---

## 날짜형 변환

In [113]:
# 날짜형 모듈 불러오기
from datetime import datetime, timedelta

In [130]:
time1 = datetime(2021, 12, 31, 12, 0, 0, 0)
print(type(time1))
print(time1)

<class 'datetime.datetime'>
2021-12-31 12:00:00

In [136]:
# 날짜 계산하기
# 현재 시간
time2 = datetime.now()
print(time1 - time2)
print((time1 - time2).days, '일')

172 days, 12:17:02.744506
172 일

In [143]:
# 특정 날짜로부터 시간 계산
print('현재 시간부터 5일 뒤')
print(time2 + timedelta(days = 5))
print('현재 시간부터 5일 전')
print(time2 + timedelta(days = -5))
print('현재 시간부터 1일 뒤의 2시간 전')
print(time2 + timedelta(days = 1, hours = -2))

현재 시간부터 5일 뒤
2021-07-16 23:42:57.255494
현재 시간부터 5일 전
2021-07-06 23:42:57.255494
현재 시간부터 1일 뒤의 2시간 전
2021-07-12 21:42:57.255494