# 리스트(list) 자료형
- 숫자나 문자들의 모음을 하나의 자료형으로 표현하는데 사용
- format : listName = [e1, e2, ...]

## 리스트 자료형 선언

In [10]:
# 리스트 선언
var01 = []
var02 = [1,2,3]
var03 = ['I', "have", 'a', 'dream']
var04 = ["I'm", 3, "years old"]
var05 = [1, 2, ['Dream', 'comes', 'true']]

years old

---

## 리스트의 Indexing과 Slicing

In [12]:
print(var03[1])
print(var05[2][1])

have
comes

In [13]:
# 리스트의 계산
var02[1] + var04[1]

5

In [14]:
# 3중 리스트에서 Indexing 작업하여 Dream만 출력하기
var = [1, 2, ['a', 'b', ['Dream', 'comes', 'true']]]
var[2][2][0]

'Dream'

In [15]:
print(var[2:])

[['a', 'b', ['Dream', 'comes', 'true']]]

---

## 리스트의 연산

In [20]:
# 리스트 합치기
var01 = [1,2,3]
var02 = [4,5,6]
var01 + var02

[1, 2, 3, 4, 5, 6]

In [28]:
# 리스트의 덧셈
for i in range(0,3):
    print(var01[i] + var02[i])

5
7
9

In [26]:
# 리스트의 숫자 반복
var01 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [30]:
# 리스트의 곱셈
# var01의 data를 10배 계산하여 출력하기
for i in range(0,3):
    print(var01[i] * 10)
for i in var01:
    print(i * 10)

10
20
30
10
20
30

In [33]:
# 리스트의 타입 변환
str(var01[2]) + 'hi!'

'3hi!'

In [36]:
temp = "123"
print(type(temp))
temp1 = int(temp)
print(type(temp1))

<class 'str'>
<class 'int'>

---

## 리스트의 수정과 삭제

In [45]:
var = [1,2,3]
var

[1, 2, 3]

In [46]:
# 1번째에 'a', 'b', 'c' 추가
var[1:2] = ['a', 'b', ['c', 'd']]
var

[1, 'a', 'b', ['c', 'd'], 3]

In [51]:
# 1번째와 2번째 데이터 삭제
var = [1, 'a', 'b', 'c', 3]
var[1:4] = 'c'
var

[1, 'c', 3]

In [55]:
# 1번째와 2번째 데이터 삭제
var = [1, 'a', 'b', 'c', 3]
var[1:3] = []
var

[1, 'c', 3]

In [41]:
# 1번째와 2번째 데이터 삭제
var = [1, 'a', 'b', 'c', 3]
del var[1:3]
var

[1, 'c', 3]

In [42]:
var = [1,2,3]
var.append(4)
var

[1, 2, 3, 4]

In [43]:
var.append([5,6])
var

[1, 2, 3, 4, [5, 6]]

In [59]:
# 리스트의 정렬
var = [1,4,3,2]

# 오름차순
var.sort()
print(var)

# 내림차순
var.reverse()
print(var)

# 최대 최소
print(max(var))
print(min(var))

[1, 2, 3, 4]
[4, 3, 2, 1]
4
1

In [60]:
# 리스트 문자 정렬 : 한글
var = ['대', '한', '민', '국']

# 오름차순
var.sort()
print(var)

# 내림차순
var.reverse()
print(var)

['국', '대', '민', '한']
['한', '민', '대', '국']

In [63]:
# 리스트의 위치 정보
var = [4,5,6]
# 5라는 데이터가 몇 번째에 있는지 출력
var.index(5)

1

In [64]:
# 리스트 요소 삽입
var.insert(1, 3)
var

[4, 3, 5, 6]

In [65]:
# 리스트 요소 제거 (데이터가 3인 것 제거)
var.remove(3)
var

[4, 5, 6]

In [68]:
# 리스트 요소 끄집어 내기
var = [1,2,3]
print(var.pop())
print(var)
print(var.pop())
print(var)
print(var.pop())
print(var)

3
[1, 2]
2
[1]
1
[]

In [72]:
# for 문을 사용한 pop
var = [1,2,3]
for i in range(0,3):
    print(var.pop())
print(var)

3
2
1
[]

In [76]:
# 리스트의 확장
var = [1,2,3,4]
var1 = [5,6]
var = var + var1
var

[1, 2, 3, 4, 5, 6]

In [77]:
# 리스트의 확장
var = [1,2,3,4]
var1 = [5,6]
var.extend(var1)
var

[1, 2, 3, 4, 5, 6]