# 집합(Set)
- 집합의 특징 : 중복데이터가 못 들어감 (이를 통해 중복 데이터가 있는지 손쉽게 파악 가능)

In [23]:
# 집합 정의 (중복 값 제외하고 출력)
s1 = set([1,2,3,4,5,5,5,5])
s1

{1, 2, 3, 4, 5}

In [28]:
s1 = set([1,2,3,4,5])
s2 = set([4,5,6,7,8,9])
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}

In [7]:
# 교집합
print(s1 & s2)
print(s1.intersection(s2))

{4, 5}
{4, 5}

In [8]:
# 합집합
print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
# 차집합
print(s1 - s2)
print(s1.difference(s2))

{1, 2, 3}
{1, 2, 3}

In [29]:
# 값 1개 추가 (중복된 데이터는 들어가지 않고, 중복 되지 않은 데이터만 들어감)
s1.add(1)
s1.add(10)
s1

{1, 2, 3, 4, 5, 10}

In [32]:
# 값 여러 개 추가 (list를 업데이트 한다고 생각하면 됨)
s1.update([1, 20, 30, 40])
s1

{1, 2, 3, 4, 5, 10, 20, 30, 40}

In [33]:
# 특정 값 제거
s1.remove(10)
s1

{1, 2, 3, 4, 5, 20, 30, 40}