# For 문
## range 함수
: range(시작숫자, 끝숫자, 증감값) / 만약 증감값 미기재 시, 1씩 증가

In [1]:
var = range(1, 11)
var

range(1, 11)

In [2]:
# range를 출력해서 보고 싶을 경우 list 사용해서 출력하기
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# 짝수만 가져오기
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [4]:
list(range(10,-10,-3))

[10, 7, 4, 1, -2, -5, -8]

In [5]:
# 증감값에 오류가 있어도 파이썬에서 오류 안보여주고 비어 있는 결과 값 출력
list(range(0,10,-2))

[]

In [9]:
# range자체가 배열이기 때문에 하나씩 빼는 건 가능함 (단, 여러 개는 불가능 - 리스트 넣어야 함)
var = range(1,11)
var[3]

4

In [7]:
type(var)

range

## for문에 range 함수 사용하기

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
# 범위값에 숫자 하나만 있는 경우 0부터 (숫자) 전까지 라는 의미
for i in range(6):
    print(i)

0
1
2
3
4
5

In [3]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [6]:
# 9단 출력
for i in range(1,10):
    print(9, 'X', i, '=', '%2d' %(9 * i))

9 X 1 =  9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [10]:
# end 는 기본적으로 \n이 들어가있음!
print('aaa', end="")
print('bbb')

aaabbb

In [4]:
# 구구단 결과만 출력하기
for i in range(2, 10):
    print()
    for j in range(1, 9):
        print('%2d' %(i * j), end=" ")

 2  4  6  8 10 12 14 16
 3  6  9 12 15 18 21 24
 4  8 12 16 20 24 28 32
 5 10 15 20 25 30 35 40
 6 12 18 24 30 36 42 48
 7 14 21 28 35 42 49 56
 8 16 24 32 40 48 56 64
 9 18 27 36 45 54 63 72

## for문에 list 사용하기

In [7]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [9]:
# 평균 구하기
scores = [78, 85, 95, 65]
total = 0

# for 다음 변수는 단수형으로 많이 사용!
for score in scores:
    total += score
print(total / len(scores))

80.75